server:
  port: 8085

spring:
  datasource:
    url: jdbc:mysql://db:3306/uplog?
      createDatabaseIfNotExist=true
      &useUnicode=true&characterEncoding=UTF-8
      &characterSetResults=UTF-8
      &allowPublicKeyRetrieval=true
      &useSSL=false

    username: root
    password: 153351
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create

  data:
    rest:
      base-path: /api
      default-page-size: 10
      max-page-size: 10

# 스웨거 설정
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    display-request-duration: true
  api-docs:
    path: /api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  paths-to-match:
    - /test/**